:root {
  --vp-c-brand-1: var(--vp-c-red-1);
  --vp-c-brand-2: var(--vp-c-red-2);
  --vp-c-brand-3: var(--vp-c-red-3);
}
h3::before {
  content: "🔸";
}
fieldset {
  padding: 0 20px 10px;
  border-radius: 8px;
  border: 1px solid var(--vp-c-red-1);
}
